@import '@/vars.scss';

.knowledge-input{
    box-sizing: border-box;
    padding: 12px 24px;
    .el-tabs{
        .el-tabs__content {
            overflow: visible;
            .el-tab-pane {
                padding-top: 24px;
            }
            .single-input-pane{
                .el-form {
                    .el-form-item{
                        margin-bottom: 30px;
                    }
                    .el-form-item__content{
                        max-width: 50%;
                    }
                    .multiple-select,
                    .el-cascader {
                        width: 100%;
                    }
                    .el-form-item__button{
                        .el-form-item__content{
                            margin-top: 12px;
                            margin-left: 24px !important;
                        }
                    }
                    .el-form-item__rate{
                        .el-form-item__content{
                            display: flex;
                            align-items: center;
                            .el-rate{
                                .el-rate__item{
                                    vertical-align: baseline;
                                }
                            }
                            .el-tooltip{
                                margin-left: 12px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            .batch-input-pane{
                & > .el-form {
                    .table-input-container{
                        clear: both;
                        .el-form-item__content{
                            margin-left: 0 !important;
                        }
                    }
                }
            }
        }
    }
}