@import '@/vars.scss';

.login-el-form{
    .login-el-form-item{
        margin-bottom: 8px;
        &:nth-of-type(1) {
            margin-bottom: 0;
        }
        &.bottom-info{
            margin-bottom: 0;
            .el-form_bottom-info{
                display: flex;
                justify-content: space-between;
                align-items: center;
                span {
                    user-select: none;
                    font-size: 13px;
                    color: $default_font_color;
                    cursor: pointer;
                    transition: all .2s;
                    &:nth-of-type(2) {
                        color: $theme_color;
                        &:hover{
                            font-weight: 600;
                        }
                    }
                    &:nth-of-type(1) {
                        &:hover{
                            color: $theme_color;
                        }
                    }
                }
            }
        }
        &.remember-pwd{
            margin-bottom: 0;
            .el-checkbox__label{
                font-size: 12px;
                padding-left: 8px;
            }
        }
        .el-form-item_switch-identity{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .switch-identity-box {
                overflow: hidden;
                height: 18px;
                ul {
                    transition: all .3s;
                    .switch-identity-item {
                        line-height: 1;
                        padding: 2px 0;
                        font-size: 14px;
                        user-select: none;
                        color: $default_font_color;
                    }
                }
            }
            .icon-switch{
                font-weight: 200;
                color: $theme_color;
                transition: all .5s;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .el-button{
            width: 100%;
            background-color: $theme_color;
            box-shadow: 0 4px 8px 0 rgba($color: #000000, $alpha: 0.3);
            border: none;
            letter-spacing: 1px;
            &:hover{
                box-shadow: 0 6px 10px 0 rgba($color: #000000, $alpha: 0.3);
            }
            &:active {
                box-shadow: 0 2px 6px 0 rgba($color: #000000, $alpha: 0.32);
            }
        }
    }
    .login__bottom-line{
        height: 1px;
        background-color: rgba($color: #000000, $alpha: 0.3);
        box-shadow: 0 0 1px rgba($color: #000000, $alpha: 0.3);
    }
    .disclaimer-text{
        margin-top: 12px;
        font-size: 0;
        .el-checkbox__label{
            font-size: 12px;
            transition: all .2s;
            a {
                &:hover{
                    color: $theme_color;
                }
            }
        }
    }
}